# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/cliente/dist
/cliente/tmp
/cliente/out-tsc
# Only exists if Bazel was run
/cliente/bazel-out

# dependencies
/cliente/node_modules
/api/node_modules


# profiling files
/cliente/chrome-profiler-events*.json
/cliente/speed-measure-plugin*.json

# IDEs and editors
/cliente/.idea
/cliente/.project
/cliente/.classpath
/cliente/.c9/
/cliente/*.launch
/cliente/.settings/
/cliente/*.sublime-workspace

# IDE - VSCode
/cliente/.vscode/*
/cliente/!.vscode/settings.json
/cliente/!.vscode/tasks.json
/cliente/!.vscode/launch.json
/cliente/!.vscode/extensions.json
/cliente/.history/*

# misc
/cliente/.sass-cache
/cliente/connect.lock
/cliente/coverage
/cliente/libpeerconnection.log
/cliente/npm-debug.log
/cliente/yarn-error.log
/cliente/testem.log
/cliente/typings

# System Files
/cliente/.DS_Store
/cliente/Thumbs.db
